doc/dml-1.0.dtd

<!ELEMENT dml (device+)>
<!ATTLIST dml version CDATA "1.0">
<!ATTLIST dml label CDATA #REQUIRED>
<!ATTLIST dml image CDATA #REQUIRED>
<!ATTLIST dml description CDATA #IMPLIED>
<!ATTLIST dml group CDATA #IMPLIED>

<!ELEMENT device (inlet,outlet,component)>
<!ATTLIST device name CDATA #REQUIRED>
<!ATTLIST device label CDATA #IMPLIED>
<!ATTLIST device image CDATA #IMPLIED>

<!ELEMENT inlet EMPTY>
<!ATTLIST inlet name CDATA #REQUIRED>
<!ATTLIST inlet type CDATA #REQUIRED>
<!ATTLIST inlet label CDATA #IMPLIED>
<!ATTLIST inlet image CDATA #IMPLIED>

<!ELEMENT outlet EMPTY>
<!ATTLIST outlet name CDATA #REQUIRED>
<!ATTLIST outlet type CDATA #REQUIRED>
<!ATTLIST outlet label CDATA #IMPLIED>
<!ATTLIST outlet image CDATA #IMPLIED>

<!ELEMENT component (property)>
<!ATTLIST component class CDATA #REQUIRED>
<!ATTLIST component name CDATA #IMPLIED>

<!ELEMENT property EMPTY>
<!ATTLIST property key CDATA #REQUIRED>
<!ATTLIST property type (number|string|component) #REQUIRED>
<!ATTLIST property value CDATA #REQUIRED>
