doc/dml-1.0.dtd

<!ELEMENT dml (device+)>
<!ATTLIST dml version CDATA "1.0">

<!ELEMENT device (component+)>
<!ATTLIST device name CDATA #REQUIRED>
<!ATTLIST device platform CDATA #REQUIRED>
<!ATTLIST device group CDATA #REQUIRED>
<!ATTLIST device label CDATA #REQUIRED>
<!ATTLIST device description CDATA #IMPLIED>
<!ATTLIST device image CDATA #IMPLIED>

<!ELEMENT component (property+)>
<!ATTLIST component class CDATA #REQUIRED>
<!ATTLIST component name CDATA #IMPLIED>
<!ATTLIST component outlet CDATA #IMPLIED>

<!ELEMENT property EMPTY>
<!ATTLIST property key CDATA #REQUIRED>
<!ATTLIST property type (number|string|component) #REQUIRED>
<!ATTLIST property value CDATA #REQUIRED>
<!ATTLIST property inlet CDATA #IMPLIED>
<!ATTLIST property label CDATA #IMPLIED>
